# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib
binfinder

# Test binary, build with `go test -c`
*.test

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

# bin directory
bin/*

# IDE
.idea
.vscode


.idea/**